<canvas #barCanvas></canvas>
<div class="info-block">
    <span class="title">today</span>
    <div class="info-wrapper">
        <span class="coins-amount">{{balance}} <span class="coins-text">BIRDs</span></span>
        <span class="sms-amount">{{amountOfSms}} <span class="sms-text">SMS</span></span>
    </div>
</div>
<div class="app-block">
    <span class="title">Birdchain</span>
    <span class="subtitle">Your ID</span>
    <span class="app-id">0x12d3074893377e478F010A02dB438481b22566c0</span>
</div>
<!--<button class="statistics" (click)="updateChart()">More statistics</button>-->
